In [217]:
import pandas as pd

data = pd.read_csv("supercasa_catalog.csv")
data.drop_duplicates(inplace= True)
data

       data_id  ...                                              value
0       889246  ...                            Glória e Vera Cruz (45)
1        12521  ...                                  Forum Aveiro (26)
2        73952  ...                               Bombeiros Novos (24)
3         4543  ...                                        Rossio (20)
4         4544  ...                                     Beira Mar (20)
...        ...  ...                                                ...
47449     2704  ...  Conservatória do Registo Civil e Predial de Sã...
47451    66442  ...               Centro de Saúde São Pedro do Sul (2)
47453      763  ...                        Praia Fluvial de Pouves (2)
47454     2040  ...  Tribunal Judicial da Comarca de Viseu Unidade ...
47455     3436  ...   Pavilhão Gimnodesportivo de São Pedro do Sul (2)

[24835 rows x 4 columns]

In [218]:
data[data["data_id"] == 246]

       data_id  ...                                              value
23027      246  ...  Universidade de Lisboa - Faculdade de Motricid...
25683      246  ...  Universidade de Lisboa - Faculdade de Motricid...
45917      246  ...                                     Montalegre (1)

[3 rows x 4 columns]

In [219]:
# Function to find all parents
def find_parents(data_id, df):
    parents = []
    current_id = data_id
    while True:
        parent_row = df.loc[df['data_id'] == current_id, 'data_layer']
        if parent_row.empty:
            break
        parent = parent_row.values[0]
        if parent == current_id:
            break
        parents.append(parent)
        current_id = parent
    return parents

# Create a dictionary to store hierarchy
parent_dict = {}
for data_id in data['data_id']:
    parents = find_parents(data_id, data)
    parent_dict[data_id] = parents

# Convert dictionary to DataFrame
hierarchy_data = {'data_layer': [], 'parent_1': [], 'parent_2': [], 'parent_3': []}
for data_id, parents in parent_dict.items():
    hierarchy_data['data_layer'].append(data_id)
    hierarchy_data['parent_1'].append(parents[0] if len(parents) > 0 else None)
    hierarchy_data['parent_2'].append(parents[1] if len(parents) > 1 else None)
    hierarchy_data['parent_3'].append(parents[2] if len(parents) > 2 else None)

hierarchy_df = pd.DataFrame(hierarchy_data)

# Create a function to replace values in parent columns with href
def replace_values_with_href(df, data_df, parent_cols):
    href_lookup = dict(zip(data_df['data_id'], data_df['href']))
    
    for col in parent_cols:
        df[col] = df[col].map(href_lookup).fillna(df[col])
    
    return df

# Create a dataframe from the hierarchical JSON structure
flat_data = []

for _, row in hierarchy_df.iterrows():
    parent_1 = row['parent_1']
    parent_2 = row['parent_2']
    parent_3 = row['parent_3']
    
    if pd.notna(parent_1):
        flat_data.append({
            "parent_1": parent_1,
            "parent_2": parent_2,
            "parent_3": parent_3
        })

# Convert to DataFrame
flat_df = pd.DataFrame(flat_data)

# Drop duplicates
flat_df.drop_duplicates(inplace=True)

# Replace values in parent_1, parent_2, and parent_3 columns
parent_cols = ['parent_1', 'parent_2', 'parent_3']
updated_flat_df = replace_values_with_href(flat_df, data, parent_cols)
updated_flat_df

                                               parent_1  ... parent_3
0             /arrendar-casas/aveiro/gloria-e-vera-cruz  ...      NaN
11                                                  0.0  ...      NaN
29                              /arrendar-casas/coimbra  ...      NaN
32                             /arrendar-casas/alcobaca  ...      NaN
34       /zona/arrendar-casas/metro-casa-do-povo/seixal  ...      NaN
...                                                 ...  ...      ...
4921                   /arrendar-casas/sao-pedro-do-sul  ...      NaN
4933                             /arrendar-casas/lamego  ...      NaN
4936                           /arrendar-casas/penedono  ...      NaN
4937  /zona/arrendar-casas/instituto-universitario-m...  ...      NaN
4940                 /arrendar-casas/oliveira-de-frades  ...      NaN

[247 rows x 3 columns]

In [220]:
def replace_values_with_href(df, data_df, parent_cols):
    href_lookup = dict(zip(data_df['data_id'], data_df['href']))
    
    for col in parent_cols:
        df[col] = df[col].map(href_lookup).fillna(df[col])
    
    return df

# Replace values in parent_1, parent_2, and parent_3 columns
parent_cols = ['parent_1', 'parent_2', 'parent_3']
updated_flat_df = replace_values_with_href(flat_df, data, parent_cols)